# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.e

# Debug files
*.dSYM/
*.su

# Data files
*.tsv
*.csv
*.out
*.txt

#Autosaves?
*~

# ???
*.swp

# Animation Frames
guia_3/ej2/frames_lorenz

#bin
